{
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "printWidth": 80,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.less",
      "options": {
        "singleQuote": false
      }
    }
  ],
  "extends": ["tslint:latest", "tslint-config-prettier"]
}
